@import "../../../styles/main.scss";

.container {
    max-width: 100px;
    display: flex;
    flex-direction: row;
    font-family: Verdana;
    margin: 10% 10px 10% 10px;
    font-size: 1em;

    .container-div {
        display: flex;
        height: 100px;
        width: 100px;
        min-width: 100px;
        flex-direction: column;
        text-align: center;
        font-size: 0.9em;
        z-index: 2;
        overflow: hidden;
        &.white {
            @include border;
            background-color: #ffffff;
            color: #000000;
        }

        &.dark {
            @include dark-mode;
            background-color: #3c3c3c;
            .drop-button, .device-icon {
                filter: invert(100%) sepia(0%) saturate(7494%) hue-rotate(291deg) brightness(111%) contrast(99%);
            }
        }

        

        .device-button {
            flex: 2;
            padding: 0;
            border: none;
            font: inherit;
            color: inherit;
            background-color: transparent;
            cursor: pointer;
            outline : none;

            &:hover {
                filter: $filter-hover;
            }

            .device-icon {
                display: flex;
                margin-left: auto;
                margin-right: auto;
                margin-top: 0;
                margin-bottom: 0;
                width: 32px;
                height: 32px;
                &.activated {
                    filter: $filter-green;
                }

            }
        }

        .device-name {
            margin: 0;
            flex: 1;
            font-size: 11px;
        }

        .top-div {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            flex: 1;

            .more {
                height: 12px;
                width: 12px;
                padding: 6px 2px 2px 2px;
                margin-bottom: 0;

                &:hover {
                    filter: $filter-hover;
                }

            }

            .drop-button {
                padding: 0;
                margin: 0;
                border: none;
                font: inherit;
                color: inherit;
                background-color: transparent;
                cursor: pointer;
                outline : none;
            }
        }
    }

    #dropdown-content {
        display: inline-block;
        flex-direction: column;
        box-shadow: 0px 13px -10px 0px rgba(0, 0, 0, 0.2);
        height: min-content;
        border-radius: 2px;
        font-size: 0.8em;
        position: absolute;
        z-index: 99;

        &.white {
            background-color: #eaedfd;
            a{
                color: #000000;
            }
        }

        &.dark {
            background-color: #2a2a2f;
            border: solid 1px #090909;
            border-radius: 5px;
            a{
                color: #e7e7e7;
            }
            

        }

        a {
            
            text-decoration: none;
            cursor: pointer;
            display: block;
            padding: 2px 4px 2px 4px;
        }
    }
}