/* COLORS */
/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
/* BORDER */
/* BREAKPOINTS */
/* THEME */
h1 {
  color: #ff3456;
}

.container {
  max-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: Verdana;
  margin: 10% 10px 10% 10px;
  font-size: 1em;
}

.container .container-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  width: 100px;
  min-width: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 0.9em;
  z-index: 2;
  overflow: hidden;
}

.container .container-div.white {
  background: white;
  -webkit-box-shadow: 3px 3px 20px 1px #cfcfcf;
  -o-box-shadow: 3px 3px 20px 1px #cfcfcf;
  box-shadow: 3px 3px 20px 1px #cfcfcf;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=135, Strength=20);
  border-radius: 10px;
  background-color: #ffffff;
  color: #000000;
}

.container .container-div.dark {
  background-color: #1f1f1f;
  color: white;
  border-radius: 10px;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  background-color: #3c3c3c;
}

.container .container-div.dark .drop-button, .container .container-div.dark .device-icon {
  -webkit-filter: invert(100%) sepia(0%) saturate(7494%) hue-rotate(291deg) brightness(111%) contrast(99%);
          filter: invert(100%) sepia(0%) saturate(7494%) hue-rotate(291deg) brightness(111%) contrast(99%);
}

.container .container-div .device-button {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.container .container-div .device-button:hover {
  -webkit-filter: invert(37%) sepia(69%) saturate(2463%) hue-rotate(216deg) brightness(98%) contrast(97%);
          filter: invert(37%) sepia(69%) saturate(2463%) hue-rotate(216deg) brightness(98%) contrast(97%);
}

.container .container-div .device-button .device-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 32px;
  height: 32px;
}

.container .container-div .device-button .device-icon.activated {
  -webkit-filter: invert(58%) sepia(68%) saturate(422%) hue-rotate(73deg) brightness(90%) contrast(82%);
          filter: invert(58%) sepia(68%) saturate(422%) hue-rotate(73deg) brightness(90%) contrast(82%);
}

.container .container-div .device-name {
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 11px;
}

.container .container-div .top-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container .container-div .top-div .more {
  height: 12px;
  width: 12px;
  padding: 6px 2px 2px 2px;
  margin-bottom: 0;
}

.container .container-div .top-div .more:hover {
  -webkit-filter: invert(37%) sepia(69%) saturate(2463%) hue-rotate(216deg) brightness(98%) contrast(97%);
          filter: invert(37%) sepia(69%) saturate(2463%) hue-rotate(216deg) brightness(98%) contrast(97%);
}

.container .container-div .top-div .drop-button {
  padding: 0;
  margin: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.container #dropdown-content {
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 13px -10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 13px -10px 0px rgba(0, 0, 0, 0.2);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border-radius: 2px;
  font-size: 0.8em;
  position: absolute;
  z-index: 99;
}

.container #dropdown-content.white {
  background-color: #eaedfd;
}

.container #dropdown-content.white a {
  color: #000000;
}

.container #dropdown-content.dark {
  background-color: #2a2a2f;
  border: solid 1px #090909;
  border-radius: 5px;
}

.container #dropdown-content.dark a {
  color: #e7e7e7;
}

.container #dropdown-content a {
  text-decoration: none;
  cursor: pointer;
  display: block;
  padding: 2px 4px 2px 4px;
}
/*# sourceMappingURL=device.component.css.map */