
<div class="container animated zoomIn">
  <div class="container-div" [ngClass]="storedTheme">
    <div class="top-div">
      <button (click)="show()" class="drop-button"><img class="more" src="../../../assets/Icons/more.svg" alt="icon"></button>
    
    </div>

    <button (click)="trueorfalse(id)" class="device-button"><img [ngClass]="stateclass" class="device-icon" src="../../../assets/Icons/light-bulb.svg" alt="icon"></button>
    <p class="device-name"> {{name | uppercase}} </p>
  </div>
  <div *ngIf="shown" id="dropdown-content" [ngClass]="storedTheme" class="animated zoomIn faster">
    <a routerLink="/info/{{id}}">Paramètres</a>
    <a (click)="deleteDevice(id)">Supprimer</a>
  </div>
</div>