@import '../../../../styles/main.scss';

.main {
    font-family: $font-default;
    padding: 20px;
    min-width: 250px;
    margin: 20px 20px 20px 20px;
    
    padding: 30px;
    &.white{
        @include border;
    }
    &.dark{
        @include dark-mode;
    }
}
