@import '../../../styles/main.scss';

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

    app-settings-menu{
        flex: 1;
    }

    .main{
        flex: 2;
    }
}
