<div class="container animated fadeIn">

    <app-settings-menu class="animated fadeIn" ></app-settings-menu>

    <div class="main animated fadeIn">
        <router-outlet></router-outlet>
    </div>


</div>