/* COLORS */
/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
/* BORDER */
/* BREAKPOINTS */
/* THEME */
h1 {
  color: #ff3456;
}

.navbar {
  list-style: none;
  margin: 0;
  text-align: center;
  -webkit-padding-end: 20px;
          padding-inline-end: 20px;
  padding-inline-end: 20px;
  padding: 10px 20px 10px 20px;
  font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 20px;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar.white {
  background: white;
  -webkit-box-shadow: 3px 3px 20px 1px #cfcfcf;
  -o-box-shadow: 3px 3px 20px 1px #cfcfcf;
  box-shadow: 3px 3px 20px 1px #cfcfcf;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=135, Strength=20);
  border-radius: 10px;
}

.navbar.dark {
  background-color: #000000;
  color: white;
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

.navbar.dark p {
  color: white;
}

.navbar.dark #setting {
  -webkit-filter: invert(100%) sepia(0%) saturate(7494%) hue-rotate(291deg) brightness(111%) contrast(99%);
          filter: invert(100%) sepia(0%) saturate(7494%) hue-rotate(291deg) brightness(111%) contrast(99%);
}

.navbar p {
  text-decoration: none;
  margin-left: 5px;
  display: block;
  -webkit-margin-before: 0%;
          margin-block-start: 0%;
  -webkit-margin-after: 0%;
          margin-block-end: 0%;
}

.navbar #row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar #row #meteo {
  height: 30px;
  width: 30px;
}

.navbar #row .meteotext {
  text-align: left;
  margin-left: 5px;
}

.navbar #column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar #column .bold {
  font-weight: bold;
}

.navbar #setting {
  height: 30px;
  width: 30px;
}
