<ul class="navbar animated fadeIn" [ngClass]="storedTheme">
    <div id="row" class="animated fadeIn">
        <img id="meteo" src="../../assets/sun.png">
    </div>

  <div id="column" class="animated fadeIn slow">
      <p class="bold">{{ now | date:'shortTime' : undefined : 'fr' }}</p>
      <p>{{ now | date: 'fullDate' : undefined : 'fr' }}</p>
    </div>
  <a *ngIf="isHome" class="animated fadeIn slow" routerLink="./settings"><img id="setting" src="../../assets/settings-work-tool.png"></a>
  <a *ngIf="!isHome" class="animated fadeIn slow" routerLink="./"><img id="setting" src="../../assets/Icons/home.png"></a>
{{ currentRoute }}
</ul>