@import '../../../styles/main';

.navbar {
    list-style: none;
    margin: 0;
    text-align: center;
    padding-inline-end: 20px;
    padding-inline-end: 20px;
    padding: 10px 20px 10px 20px;
    font-family: $font-default;
    margin-bottom: 20px;

    align-content: center;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    &.white {
        @include border;
    }

    &.dark {

        @include dark-mode;

        p {
            color: white;
        }

        #setting {
            filter: invert(100%) sepia(0%) saturate(7494%) hue-rotate(291deg) brightness(111%) contrast(99%);
        }

    }

    p {
        text-decoration: none;
        margin-left: 5px;
        display: block;
        margin-block-start: 0%;
        margin-block-end: 0%;
    }

    #row {
        flex-direction: row;
        display: flex;
        align-items: center;

        #meteo {
            height: 30px;
            width: 30px;
        }

        .meteotext {
            text-align: left;
            margin-left: 5px;
        }
    }

    #column {
        flex-direction: column;
        display: flex;

        .bold {
            font-weight: bold;
        }
    }

    #setting {
        height: 30px;
        width: 30px;

    }
}