/* COLORS */
/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
/* BORDER */
/* BREAKPOINTS */
/* THEME */
h1 {
  color: #ff3456;
}

.main {
  font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  min-width: 250px;
  margin: 20px 20px 20px 20px;
}

.main.white {
  background: white;
  -webkit-box-shadow: 3px 3px 20px 1px #cfcfcf;
  -o-box-shadow: 3px 3px 20px 1px #cfcfcf;
  box-shadow: 3px 3px 20px 1px #cfcfcf;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=135, Strength=20);
  border-radius: 10px;
}

.main.dark {
  background-color: #000000;
  color: white;
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

.main h1 {
  color: #99ccff;
}

.main .settings {
  margin-left: 30px;
}

.main .settings .darkmode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .settings .darkmode .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 10px;
}

.main .settings .darkmode .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.main .settings .darkmode .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.main .settings .darkmode .switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.main .settings .darkmode .switch input:checked + .slider {
  background-color: #2196F3;
}

.main .settings .darkmode .switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

.main .settings .darkmode .switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.main .historic .Hcontainer {
  margin-left: 30px;
}

.main .historic .Hcontainer .Htemplate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .historic .Hcontainer .Htemplate .Hhour {
  margin-right: 10px;
}
