<div class="main" [ngClass]="storedTheme">

    <h1>Paramètres</h1>

    <div class="settings">
        <div class="darkmode">
            <label class="switch">
                <input (click)="setTheme()" type="checkbox" [checked]="storedTheme === 'dark'">
                <span class="slider"></span>
            </label>
            <p>Dark Mode</p>
        </div>

    </div>

    <div class="historic">
        <h2>Historique</h2>
        <div *ngIf="showLoader">Chargement...</div>
        <div *ngFor="let device of Device" class="Hcontainer">
            
            <div *ngIf="!device.name">hey</div>

            {{ device.historique[device.historique.length - 1] }}
        </div>


    </div>

</div>