@import '../../../../styles/main.scss';

.main {

    font-family: $font-default;
    padding: 20px;
    min-width: 250px;
    margin: 20px 20px 20px 20px;


    &.white {
        @include border;
    }

    &.dark {
        @include dark-mode;
    }

    h1 {
        color: $light-blue;
    }

    .settings {
        margin-left: 30px;

        .darkmode {
            display: flex;
            align-items: center;

            .switch {
                position: relative;
                display: inline-block;
                width: 60px;
                height: 34px;
                margin-right: 10px;

                input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #ccc;
                    -webkit-transition: .4s;
                    transition: .4s;
                    border-radius: 34px;
                }

                .slider:before {
                    position: absolute;
                    content: "";
                    height: 26px;
                    width: 26px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                    border-radius: 50%;
                }

                input:checked+.slider {
                    background-color: #2196F3;
                }

                input:focus+.slider {
                    box-shadow: 0 0 1px #2196F3;
                }

                input:checked+.slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }
            }
        }

    }

    .historic {
        .Hcontainer {
            margin-left: 30px;

            .Htemplate {
                display: flex;

                .Hhour {
                    margin-right: 10px;
                }
            }
        }

    }
}