/* BREAKPOINTS */

@mixin xlarge {
    @media only screen and (min-width: 1280px) {
        @content;
    }
}

@mixin large {
    @media only screen and (max-width: 1280px) {
        @content;
    }
}

@mixin medium {
    @media only screen and (max-width: 980px) {
        @content;
    }
}

@mixin small {
    @media only screen and (max-width: 766px) {
        @content;
        
        height: fit-content;

    }
}

@mixin xsmall {
    @media only screen and (max-width: 400px) {
        @content;
    }
}

/* THEME */

@mixin border {
    background: white;
    -moz-box-shadow: 3px 3px 20px 1px #cfcfcf;
    -webkit-box-shadow: 3px 3px 20px 1px #cfcfcf;
    -o-box-shadow: 3px 3px 20px 1px #cfcfcf;
    box-shadow: 3px 3px 20px 1px #cfcfcf;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=135, Strength=20);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

@mixin dark-mode {
    background-color: #1f1f1f;
    color: white;
    border-radius: 10px;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
}