/* COLORS */

$color-primary: #ff3456;
$color-secondary: #6199ff;

$d-text: #333333;
$l-text: #ffffff;

$filter-green: invert(58%) sepia(68%) saturate(422%) hue-rotate(73deg) brightness(90%) contrast(82%);
$filter-hover: invert(37%) sepia(69%) saturate(2463%) hue-rotate(216deg) brightness(98%) contrast(97%);
/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
$font-default: Raleway, Verdana, Geneva, Tahoma, sans-serif;;

/* BORDER */

$shadow: 0 4px 8px 0 rgba(56, 56, 56, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);