<div class="main" [ngClass]="storedTheme">
        <h2>Liste des appareils</h2>
        <div class="device animated fadeIn" *ngFor="let device of Device" [ngClass]="storedTheme">

                <div class="head">

                        <div class="title">
                                <label class="switch">
                                        <input (click)="trueorfalse(device._id)" type="checkbox"
                                                [checked]="device.state" />
                                        <span class="slider round"></span>
                                </label>
                                <h3 routerLink="/info/{{device._id}}">{{ device.name }}</h3>
                        </div>

                        <img class="delete" (click)="deleteDevice(device._id)" src="../../../../assets/Icons/cancel.png"
                                alt="">

                </div>

                <div class="room">
                        <h4>Pièce </h4>
                        <p>{{ device.room }}</p>
                </div>

                <div class="type">
                        <h4>Type </h4>
                        <p>{{ device.type }}</p>
                </div>

                <div class="historic">
                        <h4>Dernière utilisation </h4>
                        <p *ngIf="device.state">En cours</p>
                        <p *ngIf="!device.state">{{ device.historique[device.historique.length - 1] | slice:0:19 }}</p>
                </div>

        </div>
</div>