/* COLORS */
/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
/* BORDER */
/* BREAKPOINTS */
/* THEME */
h1 {
  color: #ff3456;
}

.main {
  font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  min-width: 250px;
  margin: 20px 20px 20px 20px;
}

.main.white {
  background: white;
  -webkit-box-shadow: 3px 3px 20px 1px #cfcfcf;
  -o-box-shadow: 3px 3px 20px 1px #cfcfcf;
  box-shadow: 3px 3px 20px 1px #cfcfcf;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=135, Strength=20);
  border-radius: 10px;
}

.main.dark {
  background-color: #000000;
  color: white;
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

.main .device {
  background: white;
  -webkit-box-shadow: 3px 3px 20px 1px #cfcfcf;
  -o-box-shadow: 3px 3px 20px 1px #cfcfcf;
  box-shadow: 3px 3px 20px 1px #cfcfcf;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=135, Strength=20);
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
  margin: 15px 0 15px 0;
}

.main .device.dark {
  background-color: #000000;
  color: white;
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

.main .device .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .device .head .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}

.main .device .head .title h3 {
  cursor: pointer;
}

.main .device .head .title .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 10px;
}

.main .device .head .title .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.main .device .head .title .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.main .device .head .title .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.main .device .head .title input:checked + .slider {
  background-color: #63bd66;
}

.main .device .head .title input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #63bd66;
          box-shadow: 0 0 1px #63bd66;
}

.main .device .head .title input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.main .device .head .title .slider.round {
  border-radius: 34px;
}

.main .device .head .title .slider.round:before {
  border-radius: 50%;
}

.main .device .head .delete {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.main .device h4 {
  margin-right: 10px;
}

.main .device .room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .device .type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .device .historic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
