@import '../../../../styles/main.scss';

.main {
    font-family: $font-default;
    padding: 20px;
    min-width: 250px;
    margin: 20px 20px 20px 20px;

    &.white {
        @include border;
        .device{
            @include border;
        }
    }
    &.dark {
        @include dark-mode;

        .device{

            border-radius: 10px;
            background-color: #3c3c3c;
        }
        .delete{
            filter: invert(95%) sepia(0%) saturate(23%) hue-rotate(316deg) brightness(87%) contrast(123%);
        }
    }

    .device {
        padding: 5px 20px 5px 20px;
        margin: 15px 0 15px 0;

        .head {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .title {
                display: flex;
                align-items: center;

                h3 {
                    cursor: pointer;
                }

                .switch {
                    position: relative;
                    display: inline-block;
                    width: 60px;
                    height: 34px;
                    margin-right: 10px;
                }

                /* Hide default HTML checkbox */
                .switch input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                /* The slider */
                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #ccc;
                    -webkit-transition: .4s;
                    transition: .4s;
                }

                .slider:before {
                    position: absolute;
                    content: "";
                    height: 26px;
                    width: 26px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                }

                input:checked+.slider {
                    background-color: rgb(99, 189, 102);
                }

                input:focus+.slider {
                    box-shadow: 0 0 1px rgb(99, 189, 102);
                }

                input:checked+.slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }

                /* Rounded sliders */
                .slider.round {
                    border-radius: 34px;
                }

                .slider.round:before {
                    border-radius: 50%;
                }
            }

            .delete {
                width: 30px;
                height: 30px;
                cursor: pointer;
            }

        }

        h4 {
            margin-right: 10px;
        }

        .room {
            display: flex;
            align-items: center;
        }

        .type {
            display: flex;
            align-items: center;
        }

        .historic {
            display: flex;
            align-items: center;
        }
    }

}