/* COLORS */
/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
/* BORDER */
/* BREAKPOINTS */
/* THEME */
h1 {
  color: #ff3456;
}

.room-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.room-container .room {
  min-width: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
  padding: 0 20px 20px 20px;
  margin: 10px;
}

.room-container .room.white {
  background: white;
  -webkit-box-shadow: 3px 3px 20px 1px #cfcfcf;
  -o-box-shadow: 3px 3px 20px 1px #cfcfcf;
  box-shadow: 3px 3px 20px 1px #cfcfcf;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=135, Strength=20);
  border-radius: 10px;
  background-color: #ffffff;
  color: #151515;
}

.room-container .room.dark {
  background-color: #1f1f1f;
  color: white;
  border-radius: 10px;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
}

.room-container .room h3 {
  font-size: 2em;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.room-container .room .device-container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  vertical-align: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*# sourceMappingURL=room.component.css.map */