@import "../../../styles/main.scss";

.room-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

    .room {
        &.white {
            @include border;
            background-color: #ffffff;
            color: #151515;
        }
        &.dark {
            @include dark-mode;
        }
        min-width: 42%;
        display: flex;
        flex: 1;
        align-items: center;
        height: auto;
        flex-direction: column;
        font-family: $font-default;
        padding: 0 20px 20px 20px;
        margin: 10px;

        h3 {
            font-size: 2em;
            align-self: flex-start;
        }

        .device-container {
            justify-content: space-around;
            vertical-align: space-around;
            display: flex;
            width: 80%;
            flex-wrap: wrap;
        }
    }
}