<div class="room-container animated fadeIn">
  <div class="room" *ngFor="let room of Rooms" [ngClass]="storedTheme">
    <h3>{{ room.name }}</h3>
    <div class="device-container">
      <app-device *ngFor="let device of getDeviceByRoom(room.name)" [name]="device.name" [id]="device._id" [state]="device.state"></app-device>
    </div>
  </div>  
</div>