@import '../../../../styles/main.scss';
@import '../../../../styles/mixins';


.main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    height: fit-content;
    margin: 20px 20px 20px 20px;

    &.white {
        @include border;

        .selected {
            @include border;
            background-color: $light-blue;
        }
    }

    &.dark {
        @include dark-mode;
        a {
            color: white;
        }

        .selected {
            border-radius: 10px;
            background-color: grey;
        }
    }

    #navigation {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: flex;
            margin-bottom: 10px;

            a {
                text-decoration: none;
                font-size: 20px;
                width: 100%;
                padding: 10px 10px 10px 30px;
            }
        }
    }
}