<div class="main" [ngClass]="storedTheme">
  <ul id="navigation">
      
      <li><a routerLink="./" routerLinkActive="selected animated fadeIn" [routerLinkActiveOptions]="{ exact: true }">Infos</a></li>
      <li><a routerLink="./stats" routerLinkActive="selected animated fadeIn">Statistiques</a></li>
      <li><a routerLink="./hist" routerLinkActive="selected animated fadeIn" >Historique</a></li>
      <li><a routerLink="../../settings/devices" routerLinkActive="selected animated fadeIn" >Liste des appareils</a></li>

    </ul>
</div>