@import '../../../../styles/main.scss';

.main {
    font-family: $font-default;
    padding: 20px;
    margin: 20px 20px 20px 20px;

    &.white {
        @include border;
    }

    &.dark {
        @include dark-mode;
    }

    .titre-stats {
        color: #00b3b3;
        width: 90%;
    }
    .update-button {
        width: auto;
        color: white;
        padding: 14px 20px;
        margin-left: 28px;
        margin-top: 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        background-color: rgb(99, 189, 102); 

        &:hover {
            background-color: rgb(60, 134, 62);
            transition: 0.5s;
        }
    }
}