<div class="main" [ngClass]="storedTheme">
  <h2 class="titre-stats">Statistiques</h2>

  <div class="chart">
    <canvas
      baseChart
      [data]="pieChartData"
      [labels]="pieChartLabels"
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [colors]="pieChartColors"
      [legend]="pieChartLegend">
    </canvas>
  </div>
  <div>
    <button mat-button mat-raised-button color="primary" class="update-button" (click)="pieChartLegend = !pieChartLegend">
      Afficher la légende
    </button>
  </div>
</div>
