/* COLORS */
/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
/* BORDER */
/* BREAKPOINTS */
/* THEME */
h1 {
  color: #ff3456;
}

.main {
  font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  margin: 20px 20px 20px 20px;
}

.main.white {
  background: white;
  -webkit-box-shadow: 3px 3px 20px 1px #cfcfcf;
  -o-box-shadow: 3px 3px 20px 1px #cfcfcf;
  box-shadow: 3px 3px 20px 1px #cfcfcf;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=135, Strength=20);
  border-radius: 10px;
}

.main.dark {
  background-color: #000000;
  color: white;
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

.main .titre-stats {
  color: #00b3b3;
  width: 90%;
}
