@import '../../../../styles/main.scss';

.main {
  font-family: $font-default;
  padding: 20px;
  min-width: 250px;
  margin: 20px 20px 20px 20px;

  &.white {
    @include border;

    input[type=text] {
      @include border;
    }
  }

  &.dark {
    @include dark-mode;

    input {
      background-color: #3c3c3c;
      color: #e7e7e7;
    }
  }

  .title-box {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .titre-params {
      color: #00b3b3;
      width: auto;
      min-width: 150px;
    } 
    /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }
    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
  
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
  
    input:checked + .slider {
      background-color: rgb(99, 189, 102);
    }
  
    input:focus + .slider {
      box-shadow: 0 0 1px rgb(99, 189, 102);
    }
  
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }
  
    .slider.round:before {
      border-radius: 50%;
    }
  }
    
  form {
      display: flexbox;


    h3 {
      width: 15%;
  }

    

  input[type=text] {
      width: 50%;
      min-width: 160px;
      font-size: 20px;
      padding: 12px 20px;
      display: inline-block;
      margin-left: 28px;
      margin-top: 20px;
      border: 0px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
  }

  input[type=submit] {
      width: 50%;
      min-width: 160px;
      font-size: 20px;
      color: white;
      padding: 14px 20px;
      margin-left: 28px;
      margin-top: 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }

    .submit {
        background-color: rgb(99, 189, 102); 
    }
    .submit:hover {
        background-color: rgb(60, 134, 62);
        transition: 0.5s;
    }
    .delete {
        background-color: #fc4f4f;
    } 
    .delete:hover {
        background-color: #d83030;
        transition: 0.5s;
    }
  }
}

