<div class="main" [ngClass]="storedTheme">
  <div class="title-box">
    <h2 class="titre-params">Paramètres</h2>

    <label class="switch">
      <input (click)="trueorfalse()" type="checkbox" [checked]="deviceData.state" />
      <span class="slider round"></span>
    </label>
  </div>

  <form action="">
    <input type="text" name="Nom" [(ngModel)]="deviceData.name" placeholder="Nom de l'appareil" /><br />
    <input [(ngModel)]="deviceData.room" type="text" name="Piece" placeholder="Pièce du batiment" class="piece" /><br />
    <input (click)="updateDevice()" type="submit" value="Enregistrer" class="submit" />
    <input (click)="deleteDevice()" type="submit" value="Supprimer" class="delete" />
  </form>
</div>