/* COLORS */
/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
/* BORDER */
/* BREAKPOINTS */
/* THEME */
h1 {
  color: #ff3456;
}

.main {
  font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  min-width: 250px;
  margin: 20px 20px 20px 20px;
}

.main.white {
  background: white;
  -webkit-box-shadow: 3px 3px 20px 1px #cfcfcf;
  -o-box-shadow: 3px 3px 20px 1px #cfcfcf;
  box-shadow: 3px 3px 20px 1px #cfcfcf;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=135, Strength=20);
  border-radius: 10px;
}

.main.dark {
  background-color: #000000;
  color: white;
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

.main.dark input {
  background-color: #000000;
  color: white;
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

.main .title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}

.main .title-box .titre-params {
  color: #00b3b3;
  width: auto;
  min-width: 150px;
}

.main .title-box .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.main .title-box .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.main .title-box .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.main .title-box .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.main .title-box input:checked + .slider {
  background-color: #63bd66;
}

.main .title-box input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #63bd66;
          box-shadow: 0 0 1px #63bd66;
}

.main .title-box input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.main .title-box .slider.round {
  border-radius: 34px;
}

.main .title-box .slider.round:before {
  border-radius: 50%;
}

.main form {
  display: flexbox;
}

.main form h3 {
  width: 15%;
}

.main form input[type=text] {
  width: 50%;
  min-width: 160px;
  font-size: 20px;
  padding: 12px 20px;
  display: inline-block;
  margin-left: 28px;
  margin-top: 20px;
  border: 0px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px 20px 1px #cfcfcf;
          box-shadow: 3px 3px 20px 1px #cfcfcf;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main form input[type=submit] {
  width: 50%;
  min-width: 160px;
  font-size: 20px;
  color: white;
  padding: 14px 20px;
  margin-left: 28px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.main form .submit {
  background-color: #63bd66;
}

.main form .submit:hover {
  background-color: #3c863e;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main form .delete {
  background-color: #fc4f4f;
}

.main form .delete:hover {
  background-color: #d83030;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
