<div class="main" [ngClass]="storedTheme">
    <ul id="navigation">
        
        <li><a routerLink="./" routerLinkActive="selected animated fadeIn" [routerLinkActiveOptions]="{ exact: true }">Historique</a></li>
        <li><a routerLink="./devices" routerLinkActive="selected animated fadeIn">Liste des appareils</a></li>
        <li><a routerLink="./stats" routerLinkActive="selected animated fadeIn">Statistiques</a></li>

      </ul>
</div>