/* COLORS */
/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
/* BORDER */
/* BREAKPOINTS */
/* THEME */
h1 {
  color: #ff3456;
}

.main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  height: 100%;
  margin: 20px 20px 20px 20px;
}

@media only screen and (max-width: 766px) {
  .main {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.main.white {
  background: white;
  -webkit-box-shadow: 3px 3px 20px 1px #cfcfcf;
  -o-box-shadow: 3px 3px 20px 1px #cfcfcf;
  box-shadow: 3px 3px 20px 1px #cfcfcf;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=135, Strength=20);
  border-radius: 10px;
}

.main.dark {
  background-color: #000000;
  color: white;
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

.main.dark a {
  color: white;
}

.main.dark .selected {
  background-color: grey;
}

.main #navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main #navigation li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.main #navigation li a {
  text-decoration: none;
  font-size: 20px;
  width: 100%;
  padding: 10px 10px 10px 30px;
}

.main #navigation li .selected {
  background: white;
  -webkit-box-shadow: 3px 3px 20px 1px #cfcfcf;
  -o-box-shadow: 3px 3px 20px 1px #cfcfcf;
  box-shadow: 3px 3px 20px 1px #cfcfcf;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=135, Strength=20);
  border-radius: 10px;
  background-color: #99ccff;
}
