
<input type="text" [(ngModel)]="deviceData.name"  placeholder="Name">
<input type="text" [(ngModel)]="deviceData.type"  placeholder="type">
<input type="text" [(ngModel)]="deviceData.room"  placeholder="room">
<button  (click)="updateDevice()">Update Device</button>
<button  (click)="deleteDevice()">Delete Device</button>

<p>{{ deviceData.state }}</p>
<button  (click)="trueorfalse()">True or false</button>
