<div class="main" [ngClass]="storedTheme">
  <h2 class="titre-stats">Statistiques</h2>

  <div>
      <div>
        <div>
          <div style="display: block">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
              [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
          <button mat-button mat-raised-button color="primary" class="update-button" (click)="randomize()">Update</button>
        </div>
      </div>
    </div>
</div>
